# Dependencies
node_modules/

# Production / Build
dist/
lib/
artifacts/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/
*.swp
*.swo

# TypeScript / Environment
*.tsbuildinfo
